//
//  Config.xcconfig
//  VirtualMachine
//
//  Created by Trent Shea on 2026-03-23.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
PRODUCT_BUNDLE_IDENTIFIER = com.example.VirtualMachine
#include? "Config.local.xcconfig"
